.most-searched-container {
    width: 20%;
}

.record-title {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.record-list {
margin: 0;
padding: 0;
display: grid;
list-style: none;
grid-template-columns: 1fr 1fr;
}

.record-item {
    width: auto;
    color: #333;
    border: 1px solid #333;
   
    text-align: center;
    border-radius: 10%;
}
